body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* css for header section */
header {
    background: #264653;
    width: 100%;
    height: 100%;
    display: block;
}
.header-first {
    font-weight: 300;
    font-size: 14px;
    color: #E0E0E0;
}
.header-title {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
}
.header-text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #E0E0E0;
}
.btn-bike {
    background: #E76F51;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px;
}
.grayscale img{
    filter: grayscale(100%);
  }

/* css for feature section */
.feature-title {
    font-weight: 600;
    font-size: 48px;
    font-family: Poppins;
}
.feature-text {
    font-size: 16px;
    font-weight: 600;
    color: #E76F51;
}

/* product section */
.product-detail a{
    text-decoration: none;
}

/* news section */
.news-title {
    color: #0A0826;
    font-weight: 600;
    text-align: center;
    margin: 40px 0 ;
}
.card-title {
    color: #18191F;
    font-weight: 600;
    font-size: 28px;
}
.card-text {
    color: #6C6C6C;
    font-size: 16px;
}
.btn-outline-bike {
    padding: 10px 20px;
    border: 1px solid #E76F51;
}
.btn-outline-bike:hover {
    background-color: #E76F51;
    color: #ffffff;
}

/* css for testimonial  */
.testimonial {
    background: rgba(86, 178, 128, 0.1);
    padding: 90px 0;
}
.testimonial-title {
    color: #0B254B;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.testimonial-detail {
    color: #5E6E89;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.review img{
    width: 120px;
    height: 120px;
}
.review-star {
    color: #E77C40;
    font-size: 18px;
}
.client-review {
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: #1D293F;
    padding: 5px 20px;
}
.client-name {
    color: #23A6F0;
    font-size: 18px;
    font-weight: 400;
}
 
/* css for footer section  */
footer {
    background: #0B0D17;
    color: #E0E0E0;
}
.footer-logo {
    font-size: 44px;
    font-weight: 500;
}
.footer-text {
    font-size: 13px;
    font-weight: 500;
    text-align: justify;
}
.footer-title {
    font-size: 21px;
    font-weight: 700;
}
.menu ul, .menu li{
    margin: 0;
    padding: 0;
}
.footer-item {
    font-size: 18px;
    font-weight: 500;
}